*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Gimbal-Extended";
    src: url('../fonts/Gimbal\ Extended\ Regular.otf') format('truetype'),
}

:root {

    --clr-white: #fafafa;
    --clr-dark: #161616;
    --clr-light-green: #a2ffbc;
    --clr-dark-green: #50cb73;
    --clr-dark-green-transp: #50cb73f3;
    --clr-shadow-green: #308348;
    --clr-text-shadow: #173b21;

    --spacing: 0.25rem;
}

html {
    font-size: 62.5%;
}

@keyframes pulsar {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 0 10px var(--clr-dark-green);
    }
    50% {
      transform: scale(1.04);
      box-shadow: 0 0 25px #fafafa;
    }
  }

.container{
    background-image: url(../assets/vienna-reyes-qCrKTET_09o-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display:flex;
    justify-content: start;
}

.text1{
    display: none;
}

.imgFone{
    z-index: 0;
}

.imgPC{
    display: none;
}

.imgMobile{
    position: relative;
    width: 40rem;
    margin-top: 14rem;
    z-index: 0;
}

.btnFone{
    z-index: 99999;
    position: absolute;
    bottom: 13rem;
    right: 9.8rem;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--clr-white);
    color: var(--clr-dark);
    cursor: pointer;
    transition: .2s ease-in;
    animation: pulsar 1.5s infinite ease-in-out;
    transform-origin: center;
    box-sizing: border-box;  
    will-change: transform; 

.btnFone:hover{
    background-color: var(--clr-dark);
    color: var(--clr-light-green);
}

.text2{
    display: none;
}

}

@media ( 375px <= width <= 383px){
    .imgMobile{
        position: relative;
        width: 40rem;
        margin-top: 10rem;
        z-index: 0;
    }

    .btnFone{
        bottom: 15rem;
        right: 8.5rem;
    }
}

@media ( 384px <= width <= 389px){

    .imgMobile{
        position: relative;
        width: 40rem;
        margin-top: 15rem;
        z-index: 0;
    }

    .btnFone{
        bottom: 14rem;
        right: 9.2rem;
    }
}

@media ( 411px <= width <= 643px){

    .imgMobile{
        position: relative;
        width: 40rem;
        margin-top: 21rem;
        z-index: 0;
    }

    .btnFone{
        bottom: 14rem;
        right: 11.8rem;
    }
}



@media ( 644px <= width <= 999px){

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text2{
        display: none;
    }
    .text1{
        display: flex;
        z-index: 999999999;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100vh;
        margin-top: 60px;
        margin-right: 5rem;
        
    }

    .text1 p{
        color: var(--clr-white);
        font-size: 4rem;
        font-family: "Gimbal-Extended";
        text-align: center;
        width: 50rem;
        background-color: var(--clr-dark-green-transp);
        padding: 10px;
    }

    .imgMobile{
        display: none;
    }

    .imgPC{
        display: flex;
        width: 55rem;
        z-index: 0;
        margin-bottom: -160px;
        margin-left: -220px;
        justify-content: flex-start;
    }

    .btnFone{
        width: 70%;
        bottom: 20rem;
        right: 14.7rem;
        padding: 1.6rem;
        font-size: 2rem;
    }

}

@media ( 1000px <= width <= 1440px){

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    } 

    .text1{
        display: flex;
        align-items: start;
        justify-content: flex-start;
        width: 30%;
        height: 90vh;
    }

    .text1 p{
        color: var(--clr-white);
        font-size: 3rem;
        font-family: "Gimbal-Extended";
        text-align: center;
        width: 25vw;
        background-color: var(--clr-dark-green-transp);
        padding: 10px;
        margin-left: 20px;
    }

    .imgFone{
        display: flex;
        margin-top: 152px;
        position: relative !important;
    }

    .imgMobile{
        display: none;
    }

    .imgPC{
        display: flex;
        width: 40rem;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .btnFone{
        position: absolute !important;
        width: 45%;
        bottom: 26rem;
        left: 11.6rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .text2{
        display: flex;
        width: 30%;
        align-items: end;
        height: 90vh;
    }

    .text2 p{
        color: var(--clr-white);
        font-size: 3rem;
        font-family: "Gimbal-Extended";
        text-align: center;
        width: 25vw;
        background-color: var(--clr-dark-green-transp);
        padding: 10px;
        margin-left: 20px;
    }

    .text2 span{
        color: var(--clr-dark);
    }
}

